body
{
height:2000px !important; 
background-color:rgba(240,240,220,.7);
}

@keyframes abc
{
  0% { opacity:1;  }
  50% {opacity:0 ;}
  100% { opacity:1; }
  
}
.uv
{
  position:fixed;

}
.uv>ul>li
{
  font-weight:bold;
  font-family: 'Syncopate', sans-serif;
  position:fixed;
}
.uv>ul
{ 
  list-style-type:none;
}

li:nth-child(1)
{color:#FF5722;
  font-size: 78px;
    right: 20%;
    top: 34%;
    animation:abc 4s infinite 2s ease-in-out;
}

li:nth-child(2)
{color:#8BC34A;
  font-size: 39px;
    left: 45;
    top: 600;
     animation:abc 4s infinite 1s ease-in-out;
}

li:nth-child(3)
{color:#FFEB3B;
  font-size: 300;
    right: 65%;
    top: 250;
 animation:abc 2s infinite 2s ease-in-out;
  
}

li:nth-child(4)
{color:#F8BBD0;
  font-size: 30;
    right: 40%;
    top: 260;
    
     animation:abc 4s infinite no-delay ease-in-out; 
}

li:nth-child(5)
{color:#66BB6A;
  font-size: 145px;
    left: 0;
     animation:abc 3s infinite 2s ease-in-out;
}

li:nth-child(6)
{color:#FF9800;
  font-size: 100px;
    left: 40%;
    top: 0;
     animation:abc 2s infinite 1s ease-in-out;
}

li:nth-child(7)
{color:#CDDC39;
  font-size: 200px;
    top: 478;
    right: 15;
 animation :abc 2s infinite no-delay ease-in-out;
  
}

li:nth-child(8)
{color:#9E9E9E;
  font-size: 190;
    right: 0;
 animation:abc 3s infinite 1s ease-in-out;
  
}

li:nth-child(9)
{color:#64B5F6;
 font-size: 100px;
    right: 40%;
    top: 430;
     animation:abc 3s infinite no-delay ease-in-out;
}
