body
{
height:2000px !important; 
background-color:rgba(240,240,220,.7);
}

.image>div
{z-index:2;
  border-radius:50%;
  position:absolute;
}
@keyframes abc
{
  0% { opacity:1;  }
  50% {opacity:0 ;}
  100% { opacity:1; }
  
}
.uv
{ z-index:1;
  position:fixed;

}
.uv>ul>li
{
  font-weight:bold;
  font-family: 'Syncopate', sans-serif;
  position:fixed;
}
.uv>ul
{ 
  list-style-type:none;
}

li:nth-child(1)
{color:#FF5722;
  font-size: 78px;
    right: 20%;
    top: 34%;
    animation:abc 4s infinite 2s ease-in-out;
}

li:nth-child(2)
{color:#8BC34A;
  font-size: 39px;
    left: 45;
    top: 600;
     animation:abc 4s infinite 1s ease-in-out;
}

li:nth-child(3)
{color:#FFEB3B;
  font-size: 300;
    right: 65%;
    top: 250;
 animation:abc 2s infinite 2s ease-in-out;
  
}

li:nth-child(4)
{color:#F8BBD0;
  font-size: 30;
    right: 40%;
    top: 260;
    
     animation:abc 4s infinite 0s ease-in-out; 
}

li:nth-child(5)
{color:#66BB6A;
  font-size: 145px;
    left: 0;
     animation:abc 3s infinite 2s ease-in-out;
}

li:nth-child(6)
{color:#FF9800;
  font-size: 100px;
    left: 40%;
    top: 0;
     animation:abc 2s infinite 1s ease-in-out;
}

li:nth-child(7)
{color:#CDDC39;
  font-size: 200px;
    top: 478;
    right: 15;
 animation :abc 2s infinite 0s ease-in-out;
  
}

li:nth-child(8)
{color:#9E9E9E;
  font-size: 190;
    right: 0;
 animation:abc 3s infinite 1s ease-in-out;
  
}

li:nth-child(9)
{color:#64B5F6;
 font-size: 100px;
    right: 40%;
    top: 430;
     animation:abc 3s infinite 0s ease-in-out;
}
.image{
  z-index:2;
}



.img1
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
     height: 600px;
    width: 600px;
    background-size: cover;
    background-attachment: fixed;
    border-radius:50%;
    top:400;
    left:40%;
}
.img2
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:300px;
 width:300px;
 background-size: cover;
    background-attachment: fixed;
    top:700;
    left:-90;
}
.img3
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:100px;
 width:100px;
 background-size: cover;
    background-attachment: fixed;
    top:600;
}
.img4
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:100px;
 width:100px;
 background-size: cover;
    background-attachment: fixed;
top:800;
  
}
.img5
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:100px;
 width:100px;
 background-size: cover;
    background-attachment: fixed;
top:1000;
  
}
.img6
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:100px;
 width:100px;
 background-size: cover;
    background-attachment: fixed;
top:1200;
  
}
.img7
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:100px;
 width:100px; 
 background-size: cover;
    background-attachment: fixed;
top:1400;
  
}
.img8
{background-image:url("http://i223.photobucket.com/albums/dd245/2ndsite/The%20Holding%20Pen/091dbe9f.jpg");
 height:100px;
 width:100px;
 background-size: cover;
    background-attachment: fixed;
top:1600;
  
}
