body
{
height=2000px;
}

.uv
{
position:fixed;
}
.uv>ul>li
{
  position:fixed;
}
.uv>ul
{
  list-style-type:none;
}

li:nth-child(1)
{
  font-size:100px;
  right:0;
}

li:nth-child(2)
{
  font-size:39px;
  left:45;
  top:90;
}

li:nth-child(3)
{
  font-size:200px;
  right:70;
  top:67;
}

li:nth-child(4)
{
  font-size:70px;
  right:10;
  top:120;
}

li:nth-child(5)
{
  font-size:145px;
  left:0;
}

li:nth-child(6)
{
  font-size:100px;
  left:65;
  top:95;
}

li:nth-child(7)
{
  font-size:183px;
  right:0;
}

li:nth-child(8)
{
  font-size:100px;
  right:0;
}

li:nth-child(9)
{
  font-size:100px;
  right:0;
}
